# Dependencies
node_modules/
.pnpm
/.pnp
.pnp.js

# Production build
.next/
out/
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# User's personal files and folders
AppData/
3D Objects/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Saved Games/
Searches/
Videos/
Desktop/
Pictures/
Templates/
NTUSER.DAT*
ntuser.*
.cache/
.config/
.cursor/
.gitconfig
.lesshst
.node_repl_history
.nodemid
.npmrc
Muse Hub/
*.ini
Google Drive*/
시작 메뉴/
Application Data
Cookies
Local Settings
My Documents
NetHood
PrintHood
Recent
SendTo
